<app-navbar></app-navbar>
<div class="game">
  <div class="object">
    <div class="object__name">
      <h2>Wheat</h2>
    </div>
    <div class="plant">
      <div class="plant__crop">
        <img src="../../assets/image/wheat.png" alt="crop-img" />
      </div>
      <div class="plant__field">
        <img src="../../assets/image/field.png" alt="field-img" />
      </div>
    </div>
    <div class="object__value">
      5 <img src="../../assets/image/coin.png" alt="coin-img" />
    </div>
  </div>
</div>
<app-footer></app-footer>
