.navbar {
  color: #fff;
  background-color: #444444;
  border-radius: 38px 38px 0px 0px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;

  &__coins {
    display: flex;
    align-items: center;

    img {
      width: 35px;
    }
  }

  &__shop {
    &--icon {
      font-size: 28px;
    }
  }
}
