.container {
  width: 500px;
  height: 600px;
  background-color: #616161;
  border-radius: 38px;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  -ms-border-radius: 38px;
  -o-border-radius: 38px;
  position: relative;
}
