<app-navbar [coins]="coins"></app-navbar>
<div class="game">
  <div class="object">
    <div class="object__name">
      <h2>Wheat</h2>
    </div>
    <div class="plant" (click)="onAddClick()">
      <div class="plant__crop">
        <img [src]="'assets/image/' + plants[0].name + '.png'" alt="crop-img" />
      </div>
      <div class="plant__field">
        <img src="../../assets/image/field.png" alt="field-img" />
      </div>
    </div>
    <div class="object__value">
      5
      <img src="../../assets/image/coin.png" alt="coin-img" />
    </div>
  </div>
</div>
<app-footer [clicks]="clicks"></app-footer>
