$white: #fff;

.shop {
  padding: 25px 0px;

  .object {
    &__arrow {
      color: $white;
      font-size: 35px;
      text-align: right;
      padding-right: 30px;

      fa-icon {
        cursor: pointer;
      }
    }
    &__name {
      color: $white;
      text-align: center;
      text-transform: uppercase;
      font-size: 30px;

      h2 {
        margin: 0;
        margin-top: -15px;
      }
    }
    &__plants-list {
      list-style: none;
      text-align: center;
      color: $white;
      padding-left: 0;
      text-transform: uppercase;
      font-size: 20px;

      li {
        width: 100%;
        display: flex;
        padding: 13px 0px;
        align-items: center;
        justify-content: center;
        gap: 30px;
        border-top: 1px solid #444444;
        cursor: pointer;

        &:last-child {
          border-bottom: 1px solid #444444;
        }

        p {
          margin: 0;

          &.coins-to-unlock {
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }

        img.plant {
          width: 40px;
        }

        img.coin {
          width: 20px;
        }

        .check-icon {
          color: #1aff11;
          font-size: 25px;
        }
      }
    }
  }
}
