body {
  margin: 0;
  height: 100vh;
  background-color: #afafaf;
  display: grid;
  justify-content: center;
  align-items: center;
}

body * {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.button--yellow {
  margin: 15px auto 0 auto;
  background-color: #ffd949;
  border-radius: 50px;
  border: none;
  padding: 20px 0;
  width: 70%;
  justify-self: center;
  color: #616161;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: background-color 1s;

  &:hover {
    background-color: #ffe071;
  }
}

.input {
  background-color: #444444;
  color: #afafaf;
  border-radius: 14px;
  border: none;
  text-transform: uppercase;
  padding: 20px 30px;
  font-size: 16px;
  width: 75%;
  margin: 0 auto;
}
